.header_container {
  width: 65%;
  padding: 1rem;
  margin: 1rem auto 0;
  /* border: 1px solid red; */
  background-color: #fff;
  border-radius: 18px 18px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container h1 {
  cursor: pointer;
}
.header_right h2 {
  cursor: pointer;
}
